body {
  background-color: #161a1d;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.background-image {
  background-image: url(https://images.unsplash.com/photo-1558929996-da64ba858215?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80);
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: pink;
  height: 80vh;
  width: 80vw;
  border-radius: 3px;
}
h1 {
  color: white;
  text-shadow: 2px 2px 20px black;
  font-size: 10vh;
}

.enterButton {
  text-decoration: none;
  background: none;
  backdrop-filter: blur(5px);
  border: 2px solid white;
  font: inherit;
  line-height: 1;
  padding: 0.5vh 4vw;
  transition: 0.35s;
  cursor: pointer;
}
.enterButton:hover {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  backdrop-filter: blur(7px);
  transform: translateY(-0.25em);
}

h2 {
  color: white;
}
